<app-header></app-header>
<div class="container">
  <h2>What is this landing page about?</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur blanditiis aliquam dolor laudantium distinctio minus aut molestiae ipsam reprehenderit sunt!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, animi!</p>

  <h2>Tell Me More</h2>

  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos autem aperiam mollitia rem eaque numquam quam aliquid! Facere temporibus fuga unde. Nostrum, sint eveniet? Reprehenderit cumque quos corrupti provident, quis quod repellendus ipsa magni, labore natus veniam ullam illum. Impedit!</p>

  <h2>Benefits</h2>
  <ul>
      <li>Lifetime Access</li>
      <li>30 Day Money Back</li>
      <li>Tailore Customer Support</li>
  </ul>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In expedita nesciunt saepe voluptatibus sequi velit aut aliquam voluptate animi repudiandae nam asperiores natus fugiat, quibusdam laboriosam. Nobis ut voluptas, tenetur repellendus quae repellat, beatae quod et aut voluptates eum ipsa distinctio nam tempore soluta natus impedit fuga quo provident dolorum. Exercitationem, fugiat possimus! Repellendus, maiores culpa. Rem ex consectetur porro eos necessitatibus facilis voluptates laudantium facere sunt maxime, suscipit architecto.</p>
</div>

<app-contact></app-contact>
<app-footer></app-footer>
